<h1 id="title" class="title">Registro de Usuarios Externos</h1>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted"
	outline="danger" role="alert">
<p class="alert-title">
	<b>Algo salió mal!</b>
</p>
<ul class="alert-message-list">
	<li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
</ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted"
	outline="success" role="alert">
<p class="alert-title">
	<b>Atención!</b>
</p>
<ul class="alert-message-list">
	<li *ngFor="let message of messages" class="alert-message">{{
		message }}</li>
</ul>
</nb-alert>

<form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">

	<div class="form-control-group">
    <label class="label" for="input-name">Nombre(s):</label>
    <input nbInput
           [(ngModel)]="user.nombre"
           #name="ngModel"
           id="input-name"
           name="name"
           placeholder="Nombre(s)"
           autofocus
           fullWidth
           [required]="true">
      <p class="form-text error" *ngIf="name.touched && name.errors?.required">
        El Nombre es requerido!
      </p>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-lastName">Primer Apellido:</label>
    <input nbInput
           [(ngModel)]="user.ape1"
           #lastName="ngModel"
           id="input-lastName"
           name="lastName"
           placeholder="Apellido"
           fullWidth
           [required]="true">
      <p class="form-text error" *ngIf="lastName.touched && lastName.errors?.required">
        El Apellido es requerido!
      </p>
  </div>
  <div class="form-control-group">
    <label class="label" for="input-lastName2">Segundo Apellido:</label>
    <input nbInput
           [(ngModel)]="user.ape2"
           #lastName="ngModel"
           id="input-lastName2"
           name="lastName2"
           placeholder="Apellido 2"
           fullWidth
           [required]="false">
  </div>
  

	<div class="form-control-group">
		<label class="label" for="input-email">Dirección de correo:</label>
		<input
			nbInput [(ngModel)]="user.email" #email="ngModel" id="input-email"
			name="email" pattern=".+@.+..+" placeholder="Dircción de correo"
			fullWidth
			[status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
			[required]="getConfigValue('forms.validation.email.required')"
			[attr.aria-invalid]="email.invalid && email.touched ? true : null"
		/>
		<ng-container *ngIf="email.invalid && email.touched">
		<p class="error-message" *ngIf="email.errors?.required">El email
			es requerido!</p>
		<p class="error-message" *ngIf="email.errors?.pattern">El email
			debe coincidir con un formato válido!</p>
		</ng-container>
  </div>
  
  <div class="form-group">
		<label for="input-curp" class="label">CURP:</label>
		<input nbInput [(ngModel)]="user.curp" #curp="ngModel"
			id="input-curp" name="curp" placeholder="CURP"
			[minlength]="getExtraConfigValues('curp.minLength')"
			[maxlength]="getExtraConfigValues('curp.maxLength')"
			fullWidth [required]="true">
		<p class="form-text error"
			*ngIf="curp.touched && curp.errors?.required">Su CURP es requerida!</p>
		<p class="error-message"
			*ngIf="curp.errors?.minlength || curp.errors?.maxlength">
			La CURP debe contener exáctamente
			{{ getExtraConfigValues('curp.maxLength') }} caracteres.
		</p>
	</div>

	<div class="form-control-group accept-group"
		*ngIf="getConfigValue('forms.register.terms')">
		<nb-checkbox name="terms" [(ngModel)]="user.terms"
			[required]="getConfigValue('forms.register.terms')"> No
		soy un robot <!-- Agree to <a href="#" target="_blank"><strong>Terms & Conditions</strong></a -->
		</nb-checkbox>
	</div>

	<button nbButton fullWidth status="success"
		[disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
		Registrar</button>
</form>

<section class="another-action" aria-label="Sign in">
	¿Ya tiene una cuenta? <a class="text-link" routerLink="login">Inicie sesión</a>
</section>
